# tg data
TG_TOKEN=1234567890:*
TG_CHAT_ID=-100*

# api https://app.travelpayouts.com
TP_TOKEN=***

# trip
ORIGIN=MOW
DESTINATIONS=HKT:1/1

DATE_FROM=2027-01-05
DATE_TO=2027-01-20
MIN_DAYS=12
MAX_VARIANTS=5

CURRENCY=rub
BUDGET=70000

# scheduler polling info  
SCHEDULE=8,12,16,20,24
TZ=Europe/Moscow
RUN_ON_START=true
RETRY_SEC=600

NOTIFY_EMPTY=true

# optional
NAMES=
AIRLINE_NAMES=
DEBUG_TICKET=false